<div class="row mx-3">
    {% for trick in tricks %}
        <div class="mx-auto my-5">
            <div class="card border-info trick-card">
                <div class="card-header">
                    <img src="{{ asset('imageTest/sports.jpeg') }}" alt="image du trick" class="rounded img-fluid">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <a href="{{ path('show_trick',{'slug':trick.slug }) }}"><h4 class="card-title">{{ trick.titre }}</h4></a>
                        </div>

                        {% if app.user %}
                            <div class="col-2">
                                <a href="{{ path('edit_trick',{'slug':trick.slug }) }}"><i class="fas fa-pen"></i></a>
                            </div>
                            <div class="col">
                                <a href="{{ path('delete_trick',{'slug':trick.slug }) }}" onclick="return confirm('Voulez vous vraiment supprimer le Trick : {{ trick.titre }}')"><i class="fas fa-trash"></i></a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>