{% extends 'base.html.twig' %}

{% block title %}Modifier {{ trick.titre }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Modifier {{ trick.titre }}</h1>
        {% if trick.coverImage == ""  %}
            <div class="col mx-auto trick-title" style="background-image: url({{ asset('imageApp/snowboard.jpg') }})">
        {% else %}
            <div class="col mx-auto trick-title" style="background-image: url({{ asset('uploads/images/') }}{{ trick.coverImage }})">
        {% endif %}
        </div>



        <div class="row justify-content-center my-3">
            <span class="btn btn-info bouton-media" id="see-media">Voir les Médias</span>
        </div>

        <div class="row my-3 col mx-auto media-trick">

            {% for image in trick.image | reverse %}
                <div class="col-lg-3 col-md-6 mb-3">
                    <img src="{{ asset('uploads/images/') }}{{ image.url }}" alt="image {{ image.title }}" class="rounded img-fluid trick-picture trick-picture-trick">
                    <a href="{{ path('delete_image',{'id':image.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer cette image')" class="float-right"><i class="far fa-trash-alt"></i></a>
                </div>
            {% endfor %}


            {% for video in trick.video | reverse %}
                <div class="col-lg-3 col-md-6 mb-3 video">

                    <embed type="video/webm"
                           src="{{ video.url | raw }}"
                           width="250"
                           height="200"
                           class="rounded" alt="{{ video.title | raw }}">

                    <a href="{{ path('delete_video',{'id':video.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer cette video')" class="float-right"><i class="far fa-trash-alt"></i></a>
                </div>
            {% endfor %}

                <div class="col-lg-3 col-md-6 col mb-3 text-center trick-picture ">
                    <h4>Ajouter une image</h4>
                    <a href="#formulaire" id="newImage"><i class="fas fa-plus-circle fa-5x mt-3"></i></a>
                </div>

                <div class="col-lg-3 col-md-6 col mb-3 text-center trick-picture">
                    <h4>Ajouter une Video</h4>
                    <a href="#formulaireVideo" id="newVideo"><i class="fas fa-video fa-5x mt-3"></i></a>
                </div>



        </div>


        {{ form_start(form) }}

        {{form_widget(form)}}


        <button type="submit" class="btn btn-primary float-right">Sauvegarder</button> <a href="{{ path('delete_trick',{'slug':trick.slug }) }}" onclick="return confirm('Voulez vous vraiment supprimer le Trick : {{ trick.titre }}')" class="btn btn-danger float-right">Supprimer</a>
        {{ form_end(form) }}
    </div>

    <div class="modal fade bs-example-modal-lg" id="fenetreImage" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="formulaireImage">
                    <form name="image" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="image_title">Titre de l'image</label>
                            <input type="text" id="image_title" class="form-control" name="image_title" required="required">
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" id="url" class="custom-file-input" name="url" accept="image/png, image/jpeg" required="required">
                                <label class="custom-file-label" for="url"></label>
                            </div>
                        </div>

                        <button type="button" class="btn btn-info float-right" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-success float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg" id="fenetreVideo" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="place-erreur">
                <div class="modal-body" id="formulaireVideo">
                    <form name="video" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="video_title">Titre de la video</label>
                            <input type="text" id="video_title" class="form-control" name="video_title" required="required">
                        </div>

                        <div class="form-group">
                            <label for="video_url">Url de la video <span class="text-danger">( fonctionne uniquement avec les vidéos de youtube ou dailymotion )</span></label>
                            <input type="url" id="video_url" class="form-control" name="video_url" required="required">
                        </div>

                        <button type="button" class="btn btn-info float-right" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-success float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        //attend que le DOM soit chargé
        $( document ).ready(function() {

            //Pour inserer le nom de la cover image
            const fileInputCover = $("#trick_coverImage");
            const imageTrick = $("#url");
            const labelInput = $(".custom-file-label");

            //initialise le texte des labels
            labelInput.each(function () {
               this.textContent =  'Aucun fichier Slectionné';
            });

            fileInputCover.change(function () {
                //initialise le contenu
                labelInput[0].innerHTML = '';
                let spanInCover = document.createElement('span');
                spanInCover.textContent = this.files[0].name;
                labelInput[0].append(spanInCover);
            });

            imageTrick.change(function () {
                //initialise le contenu
                labelInput[1].innerHTML = '';
                let spanIn = document.createElement('span');
                spanIn.textContent = this.files[0].name;
                labelInput[1].append(spanIn);
            });
            //**********************************************


            //recupere tout les formulaires
            const form = $("form");
            /**
             * Pour l'ajout des images
             * */
            const ajoutImage = $("#newImage");
            const formImage = form[1];
            const fenetreImage = $('#fenetreImage');


            // Affiche le formulaire pour l'ajout d'une image
            ajoutImage.click(function(){
                fenetreImage.modal('show');
            });

            formImage.addEventListener('submit',function(e) {

                e.preventDefault();

                const title = formImage.elements.image_title.value;
                const imageTrick = document.getElementById("url").files[0];

                let formData = new FormData();

                formData.append("title", title);
                formData.append("url", imageTrick);

                $.ajax({
                    url: "{{ path('image_trick',{'slug':trick.slug }) }}",
                    type: "POST",
                    data: formData,
                    dataType	: 'json',
                    processData: false,
                    contentType: false

                }).done(function(data){

                    //console.log(data);
                    //recupere l'emplacement
                    let divPlaceImage = document.getElementsByClassName('row');
                    //Création des éléments du DOM
                    const divImage = document.createElement('div');
                    const imageTag = document.createElement('img');
                    const delImageTag = document.createElement('a');
                    const iconeDel = document.createElement('i');

                    divImage.className = 'col-lg-3 col-md-6 mb-3';

                    imageTag.src = "{{ asset('uploads/images/') }}"+data["lastImageUrl"];
                    imageTag.alt='image '+data["lastImageTitle"];
                    imageTag.className ='rounded img-fluid trick-picture-trick';

                    iconeDel.className="far fa-trash-alt";

                    delImageTag.href = '/trick/image/'+data["lastImageId"]+'/delete';
                    delImageTag.className = "float-right";


                    delImageTag.appendChild(iconeDel);
                    divImage.appendChild(imageTag);
                    divImage.appendChild(delImageTag);
                    divPlaceImage[1].prepend(divImage);

                    $('#fenetreImage').modal('hide');
                });

            });

            /**
             * Gestion de l'ajout de videos
             *
             * @type {jQuery.fn.init|jQuery|HTMLElement}
             */
            const ajoutVideo = $("#newVideo");
            const fenetreVideo = $('#fenetreVideo');

            //Affiche la fenetre pour l'ajout d'une video
            ajoutVideo.click(function(){
                fenetreVideo.modal('show');
             });

            //pour l'ajout d'une video Ajax
            const formVideo = form[2];
            //pour afficher un message si il y a une mauvaise Url
            const erreurVideo = document.createElement('span');

            //declanchement par le submit du formulaire
            formVideo.addEventListener('submit',function(e){

                const title = formVideo.elements.video_title.value;
                const url = formVideo.elements.video_url.value;
                const placeErreur = $('#place-erreur');
                e.preventDefault();

                $.ajax({
                    url: "{{ path('video_trick',{'slug':trick.slug }) }}",
                    type: "POST",
                    data: { "title": title,"url":url }

                }).done(function(data){
                    //console.log(data.message);
                    erreurVideo.innerHTML = '';

                    if (data.message){
                        erreurVideo.textContent = data.message;
                        erreurVideo.className = 'alert alert-danger mt-3 text-center';
                        placeErreur.prepend(erreurVideo);
                    }else {

                        //recupere l'emplacement
                        let divPlace = document.getElementsByClassName('row');
                        //Création des éléments du DOM
                        const divVideo = document.createElement('div');
                        const embedTag = document.createElement('embed');

                        const delVideoTag = document.createElement('a');
                        const iconeDelVideo = document.createElement('i');

                        divVideo.className = 'col-3 mb-3 video';
                        embedTag.type = "video/webm";
                        embedTag.src = data["lastVideoUrl"];
                        embedTag.width = "250";
                        embedTag.height = "200";
                        embedTag.alt = data["lastVideoTitle"];
                        embedTag.className = "rounded";

                        iconeDelVideo.className = "far fa-trash-alt";

                        delVideoTag.href = '/trick/video/' + data["lastVideoId"] + '/delete';
                        delVideoTag.className = "float-right";

                        delVideoTag.appendChild(iconeDelVideo);
                        divVideo.appendChild(embedTag);
                        divVideo.appendChild(delVideoTag);
                        divPlace[1].prepend(divVideo);

                        //cache la fenetre modal
                        $('#fenetreVideo').modal('hide');
                    }
                });
            });
        });
    </script>
    <script src="{{ asset('js/seeMedia.js') }}"></script>
{% endblock %}
