{% extends 'base.html.twig' %}

{% block title %}Modifier {{ trick.titre }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Modifier {{ trick.titre }}</h1>
        <div class="row trick-title" style="background-image: url({{ trick.coverImage }})">
        </div>

        <div class="row my-3">

            {% for image in trick.image %}
                <div class="col-3 mb-3">
                    <img src="{{ asset('uploads/images/') }}{{ image.url }}" alt="image {{ image.title }}" class="rounded img-fluid">
                    <a href="{{ path('delete_image',{'id':image.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer cette image')" class="float-right"><i class="far fa-trash-alt"></i></a>
                </div>
            {% endfor %}

            <div class="col-3 text-center">
                <h4>Ajouter une image</h4>
                <a href="#formulaire" id="newImage"><i class="fas fa-plus-circle fa-5x mt-3"></i></a>
            </div>

        </div>


        {{ form_start(form) }}

        {{form_widget(form)}}


        <button type="submit" class="btn btn-primary float-right">Sauvegarder</button> <a href="{{ path('delete_trick',{'slug':trick.slug }) }}" onclick="return confirm('Voulez vous vraiment supprimer le Trick : {{ trick.titre }}')" class="btn btn-danger float-right">Supprimer</a>
        {{ form_end(form) }}




    </div>

    <div class="modal fade bs-example-modal-lg" id="fenetre" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="formulaire">
                    {# Insertion du formulaire d'ajout d'image pour le trick #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $( document ).ready(function() {

            const appel = $("#newImage");

            appel.click(function(){
                //Appel ajax et affiche la fenetre modal
                $.ajax({
                    url: "{{ path('image_trick',{'slug':trick.slug }) }}",

                }).done(function(data){

                    $("#formulaire").html(data);
                    $('#fenetre').modal('show');
                });

            });
        });


    </script>
{% endblock %}
