{% extends 'base.html.twig' %}

{% block title %}{{ trick.titre }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row trick-title" style="background-image: url({{ trick.coverImage }})">
        <div class="col text-center align-self-center">
            <h3><span class="slogan">{{ trick.titre }}</span></h3>
        </div>
    </div>
</div>
<div class="container my-5">
        <div class="row my-3">

            {% for image in trick.image %}
                <div class="col-3 mb-3">
                    <img src="{{ asset('uploads/images/') }}{{ image.url }}" alt="image {{ image.title }}" class="rounded img-fluid">
                </div>
            {% endfor %}

            <div class="col-3 mb-3">
                <a href="#formulaire" id="newImage">Page ajax</a>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <p>{{ trick.description }}</p>
            </div>
        </div>
        <div class="row">

            <div class="col text-center mb-3">
                <span class="btn btn-success">Créé le {{ trick.createdAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-danger">Modifié le {{ trick.modifiedAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-warning">{{ trick.variety }}</span>
            </div>

        </div>

        <hr>

        {% if app.user %}

            <form action="#" method="post">

                <div class="row justify-content-center my-5">


                    <div class="col-8">
                        <input type="text" id="comment" name="comment" class="form-control">
                    </div>

                    <div class="col-2">
                        <button type="submit" class="btn btn-primary"><label for="comment">Leave a comment</label></button>
                    </div>

                </div>

            </form>

            <hr>

            {% for comment in trick.comment %}

            <div class="row justify-content-center my-3">
                <div class="col-1">
                    <i class="fas fa-user-circle fa-3x"></i>
                </div>
                <div class="col-8">
                    <div class="alert alert-info">{{ comment.content }}</div>
                </div>
            </div>

            {% endfor %}

            <div class="row">

                <div class="card offset-md-5 col-md-2 offset-md-5">
                    <div class="card-body text-center"><i class="fas fa-spinner"></i> Load more</div>
                </div>

            </div>

        {% endif %}

</div>

    <div class="modal fade bs-example-modal-lg" id="fenetre" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="formulaire">
                    {# Insertion du formulaire d'ajout d'image pour le trick #}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
<script>

    $( document ).ready(function() {
        console.log( "ready!" );

        const appel = $("#newImage");

        appel.click(function(){
            //Appel ajax et affiche la fenetre modal
            $.ajax({
                url: "{{ path('image_trick') }}",
                data: {
                    id: {{ trick.id }}
                }
                }).done(function(data){
                    $("#formulaire").html(data);
                    $('#fenetre').modal('show');
            });

        });
    });


</script>
{% endblock %}