{% extends 'base.html.twig' %}

{% block title %}{{ trick.titre }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row trick-title" style="background-image: url({{ trick.coverImage }})">
        <div class="col text-center align-self-center">
            <h3><span class="slogan">{{ trick.titre }}</span></h3>
        </div>
    </div>

        <div class="row my-3">

            {% for image in trick.image %}
                <div class="col-3 mb-3">
                    <img src="{{ asset('uploads/images/') }}{{ image.url }}" alt="image {{ image.title }}" class="rounded img-fluid">
                </div>
            {% endfor %}


        </div>
        <div class="row">
            <div class="col">
                <p>{{ trick.description }}</p>
            </div>
        </div>
        <div class="row">

            <div class="col text-center mb-3">
                <span class="btn btn-success">Créé le {{ trick.createdAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-danger">Modifié le {{ trick.modifiedAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-warning">{{ trick.variety }}</span>
            </div>
        </div>

        <hr>

        {% if app.user %}

            <div class="row">
                <div class="col">
                {{form_start(commentForm)}}
                {{form_row(commentForm.content,{'label':'Commentaire','attr':{'placeholder': 'Votre commentaire...'}} ) }}

                <button type="submit" class="btn btn-primary float-right">Commenter ! </button>
                {{form_end(commentForm)}}
                </div>
            </div>

            <hr>

            {% for comment in trick.comment %}

            <div class="row justify-content-center my-3">
                <div class="col-1">
                    <i class="fas fa-user-circle fa-3x"></i>
                </div>
                <div class="col-8">
                    <div class="alert alert-info">{{ comment.content }}</div>
                </div>
            </div>

            {% endfor %}

            <div class="row">

                <div class="card offset-md-5 col-md-2 offset-md-5">
                    <div class="card-body text-center"><i class="fas fa-spinner"></i> Load more</div>
                </div>

            </div>
        {% else %}

            <div class="row text-center">
                <div class="col">
                    <h2>Merci de vous connecter si vous souhaitez commenter</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="{{path('account_login')}}" class='btn btn-success'>vous connecter</a>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}
