{% extends 'base.html.twig' %}

{% block title %}{{ trick.titre }}{% endblock %}

{% block body %}
<div class="container my-5">
    {% if trick.coverImage == ""  %}
        <div class="row col mx-auto trick-title" style="background-image: url({{ asset('imageApp/snowboard.jpg') }})">
    {% else %}
        <div class="row col mx-auto trick-title" style="background-image: url({{ asset('uploads/images/') }}{{ trick.coverImage }})">
    {% endif %}
        <div class="col text-center align-self-center">
            <h3><span class="slogan">{{ trick.titre }}</span></h3>
        </div>
    </div>

            <div class="row justify-content-center my-3">
                <span class="btn btn-info bouton-media" id="see-media">Voir les Médias</span>
            </div>
        <div class="row my-3 col mx-auto media-trick">

            {% for image in trick.image | reverse %}
                <div class="col-lg-3 col-md-6 mb-3">
                    <img src="{{ asset('uploads/images/') }}{{ image.url }}" alt="image {{ image.title }}" class="rounded img-fluid trick-picture">
                </div>
            {% endfor %}

            {% for video in trick.video | reverse %}
                <div class="col-lg-3 col-md-6 mb-3 video">

                    <embed type="video/webm"
                           src="{{ video.url | raw }}"
                           width="250"
                           height="200"
                           class="rounded" alt="{{ video.title | raw }}">

                </div>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col">
                <p>{{ trick.description }}</p>
            </div>
        </div>
        <div class="row">

            <div class="col text-center mb-3">
                <span class="btn btn-success">Créé le {{ trick.createdAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-danger">Modifié le {{ trick.modifiedAt | date('d/m/Y') }}</span>
            </div>

            <div class="col text-center mb-3">
                <span class="btn btn-warning">{{ trick.variety.title }}</span>
            </div>
        </div>

        <hr>

        {% if app.user %}

            <div class="row">
                <div class="col">
                {{form_start(commentForm)}}

                {{form_row(commentForm.content,{'label':'Commentaire','attr':{'placeholder': 'Votre commentaire...'}})}}

                <button type="submit" class="btn btn-primary float-right">Commenter ! </button>
                {{form_end(commentForm)}}
                </div>
            </div>

            <hr>

            <div id="insertComment">

                {% for comment in comments %}

                    <div class="row d-flex justify-content-center">
                        <div class="col-md-1 col-sm-2 col-2">
                            {{ comment.user.firstname }}
                            <i class="fas fa-user-circle fa-3x"></i>
                        </div>
                        <div class="col-md-8 col-sm-8 col-8">
                            <small> Le {{ comment.createdAt | date('d/m/Y') }} :</small>
                            <div class="alert alert-info comment">{{ comment.content | nl2br }}</div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <div class="d-flex justify-content-center mt-5" id="loadMoreComDiv">
                <div class="card">
                    <a href="#"><div id="loadMoreCom" class="card-body text-center"> <img id="ajax-loading-com" src="{{ asset('imageApp/ajax-loader.gif') }}" alt="Loading" /> Load more</div></a>
                </div>
            </div>

            {# Permet de recuperer la route et le total des tricks pour enelever le bouton load more #}
            <span id="dataComment" data-total="{{ nbComments }}" data-route="{{ path('more_comment', {slug: trick.slug})}}"></span>

        {% else %}

            <div class="row text-center">
                <div class="col">
                    <h2>Merci de vous connecter pour participer et voir les commentaires</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="{{path('account_login')}}" class='btn btn-success'>vous connecter</a>
                </div>
            </div>

        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/commentaire.js') }}"></script>
{% endblock %}
